@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-3">""</div>

<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Welcome!</strong> 
    <p> You successfully accessed <a href="#" class="alert-link">my first development with- .NET Core MVC</a>.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Departments Actions</h2>
        <ul>
            <li><a href="https://localhost:44326/Departments">Access a department.</a></li>
            <li><a href="https://localhost:44326/Departments/Create">Access to create a new department.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sellers Actions</h2>
        <ul>
            <li><a href="https://localhost:44326/Sellers">Access sellers.</a></li>
            <li><a href="https://localhost:44326/Sellers/Create">Access to create a new seller.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Sales Actions</h2>
        <ul>
            <li><a href="https://localhost:44326/SalesRecords">Access sales records.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Access About Me</h2>
        <ul>
            <li><a href="https://localhost:44326/Home/AboutMe">More about.</a></li>
        </ul>
    </div>
</div>
